body {
    margin: 0;
    background-color: rgb(1, 10, 4);
    color: whitesmoke;
    font-family: "SF Pro KR", "SF Pro Text", "Myriad Set Pro",
      "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum",
       "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      min-width: 300px;
  }

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
#user_num{
    border: 1px solid whitesmoke;
    border-radius: 4px;
    height: 24px;
    margin-right: 15px;
    margin-bottom: 10px;
    outline: none;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
button {
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 30px;
    color: black;
    font-weight: 700;
    font-family: "SF Pro KR", "SF Pro Text","Myriad Set Pro",
      "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum",
      "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }
.reset{
    display: flex;
    justify-content: center;
    align-items: center;
}
#chance_{
    margin-right: 20px;
}
button:hover{
    transform: scale(1.08);
}
input:focus{
    transform: scale(1.08);
}
